body {
  width: 100vw;  /* Avoid horizontal scroll */
  overflow-x: hidden; /* Prevents horizontal scroll */
}

.navBar {
  background-color: #606c38;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  position: relative;
  padding: 0px 0px 20px 00px;
  width: 100vw;
}

.navBar::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #333;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.navbarTitle {
  color: #FEFAE0;
  font-size: 56px;
  margin-bottom: 15px;
  text-align: center;
}

.navbarTitle a {
  text-decoration: none;
  color: #FEFAE0;
}

.navbarList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 8px;
  padding: 0;
  text-decoration: none;
  width: 100%;
}

.navbarLink {
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  text-decoration: none;
  color: #FEFAE0;
}

.navbarLink:hover {
  color: #666;
}

.linkButton {
  display: inline-block;
  background-color: #283618;
  color: #FEFAE0;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.linkButton:hover {
  background-color: #FEFAE0;
  color: #283618;
}

.linkButtonActive {
  background-color: #FEFAE0;
  color: #283618;
}


@media (max-width: 768px) {
  /* .navBar {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  } */

  /* .navbarList {
    flex-direction: column;
    align-items: center;
  } */

  .navbarLink {
    margin-right: 08px;
    margin-bottom: 8px;
  }

  .navbarTitle {
    font-size: 32px; /* Smaller font size for smaller screens */
    margin-bottom: 10px; /* Less spacing */
  }

  .linkButton {
    padding: 8px 12px; /* Smaller padding for smaller screens */
  }
}
