.pageTitle {
  font-size: 3rem;
  font-weight: bold;
  margin: 36px;
  display: flex;
  justify-content: center;
}

.currentClasses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 100px;
  position: relative;
}

.pastClasses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 100px;
  position: relative;
}

.title{
  padding: 1rem;
  margin: auto 36px ;
  border-radius: 5px;
}

.currentContent {
  padding: 1rem;
  margin: auto 36px ;
  border-radius: 5px;
}

.content {
  padding: 1rem;
  margin: auto 36px ;
  border-radius: 5px;
}

.content:nth-child(odd) {
  background-color: #EEF1E4; /* Light green background for odd paragraphs */
}

.content:nth-child(even) {
  background-color: transparent; /* Transparent background for even paragraphs */
}


@media (max-width: 768px) {
  .currentClasses,
  .pastClasses {
    margin: auto 20px;
    flex-direction: column;
    align-items: center;
  }

  .title, .currentContent, .content {
    margin: 10px;
  }

  .pageTitle {
    font-size: 1.75rem;
    margin: 20px;
  }
}
