.title {
  margin: 30px 60px;
  font-size: 24px;
  flex-grow: 1; /* Allows the text to take up any remaining space */
}

.banner {
  display: flex;
  justify-content: space-between; /* Spreads out the child elements across the available space */
  align-items: center; /* Vertically centers the child elements */
}

.bannerImage {
  width: 100%;
  height: 100%;
  background-color: #FEFAE0;
}

.profilePic {
  width: 450px; /* sets the width of the image */
  height: auto; /* maintains the aspect ratio */
  margin: 20px auto; /* ensures some space between the text and the image and centers the image horizontally */
  border-radius: 10%; /* rounds the corners of the image */
}

.mainContainer {
  background-color: white;
  padding: 20px;
  margin: 20px;
}

.introduction {
  margin: 20px 60px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: stretch;
  }

  .profilePic {
    width: 90%;
    margin: 10px 0; /* Reduced margin */
  }

  .introduction, .title {
    margin: 10px 20px; /* Smaller margin on smaller screens */
    text-align: center; /* Center text for smaller screens */
  }
}
