.title {
  margin: 40px;
  /* Additional styling for the title if needed */
  flex-grow: 1; /* Allows the text to take up any remaining space */
}

.banner {
  display: flex;
  justify-content: space-between; /* Spreads out the child elements across the available space */
  align-items: center; /* Vertically centers the child elements */
}

.bannerImage {
  width: 100%;
  height: 100%;
  background-color: #FEFAE0;

}

.profilePic {
  width: 350px; /* or any size that fits your layout */
  height: auto; /* maintains the aspect ratio */
  margin: 40px; /* ensures some space between the text and the image */
  border-radius: 10%; /* rounds the corners of the image */
}

.mainContainer {
  background-color: white;
  margin: 0 auto;
}

.introduction {
  font-size: 1rem;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
}
