body {
  margin: 0;
  font-family:'Source Sans Pro', sans-serif; /* Primary font for body text */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif; /* Use Oswald for headings */
}

code {
  font-family: 'Source Sans Pro', sans-serif; /* Assuming you want to keep code in Work Sans, albeit not a typical choice for code */
}
