.mainTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  margin: 36px;
}

.publicationsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 36px ;
  position: relative;
}

.publication{
  position: relative;
  margin-bottom: 20px;
}

.publication::after {
  content: "";
  display: block;
  height: 1px;
  background-color: darkgray;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.publication:last-child::after {
  display: none; /* Hide the line after the last publication */
}

.title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: -0.5rem;
}

.author {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: -0.5rem;
}

.source {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.year {
  font-size: 0.8rem;
  color: #666;
}
