.pageTitle {
  font-size: 3rem;
  font-weight: bold;
  margin: 36px;
  display: flex;
  justify-content: center;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  margin: auto 36px;;
}

.publicationsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 36px; /* Ensure the left margin matches the title */
  position: relative;
  padding-left: 0; /* Remove padding to use margin for alignment */
}

.publication {
  position: relative;
  margin-bottom: 20px;
}

.publication::after {
  content: "";
  display: block;
  height: 1px;
  background-color: darkgray;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.publication:last-child::after {
  display: none; /* Hide the line after the last publication */
}

.title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: -0.5rem;
}

.author {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: -0.5rem;
}

.source {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.year {
  font-size: 0.8rem;
  color: #666;
}

@media (max-width: 768px) {
  .pageTitle {
    font-size: 1.5rem; /* Smaller font size for smaller devices */
    margin: 20px;
  }
  .publicationsContainer {
    margin: auto 20px; /* Ensure the left margin matches the title */
    padding-left: 0; /* Remove padding to use margin for alignment */
  }
}
